@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display Regular'), url('../Fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  src: local('Playfair Display Italic'), url('../Fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 500;
  src: local('Playfair Display Medium'), url('../Fonts/PlayfairDisplay/PlayfairDisplay-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 600;
  src: local('Playfair Display SemiBold'), url('../Fonts/PlayfairDisplay/PlayfairDisplay-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 700;
  src: local('Playfair Display Bold'), url('../Fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  src: local('Playfair Display Bold Italic'), url('../Fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 900;
  src: local('Playfair Display Black'), url('../Fonts/PlayfairDisplay/PlayfairDisplay-Black.ttf') format('truetype');
}
